<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head><title>YOU DID THE THING!</title></h:head> 
<body> 
	<div align="center">
	<h1>Add Music Album</h1>
		<h:form>
			Title: <h:inputText id = "search" value= "#{search.search}" title ="" /><br/>
			
			<h:commandButton value="Search" action="#{userController.Search(search)}" />
		</h:form>
	</div>
</body> 
</html>
