<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<div align="center">
	<h1 style="font-size:50px">Meme Supreme</h1>
    <h3>Made by Lewis Brown and Joe Leon</h3>
		<h:button value="Login" outcome="Login.xhtml" />
		<h:button value="Register" outcome="Register.xhtml" />
	</div>
</body> 
</html>
