<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 
      
<h:head><title>Meme Supreme Login</title></h:head>
<body>
	<h2>Login</h2>
	<div align="center">
		<h:form>
		
		
		Email:<h:inputText id="uName" value="#{user.uName}" title="" /><br />
		Password:<br />
		<h:inputText id="Password" type="password" value="#{user.password}" title="" /><br /><br />
		<h:commandButton value="Submit" action="#{userController.login(user)}" />
		
		<h:form>
			<h:button value="Back" outcome="Index.xhtml" />
		</h:form>
	</h:form>
	</div>
	</body>
</html>